.App {
  text-align: center;
  background-color: white;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input{
  width: 200px;
  height: 30px;
  margin: 10px;
}

body{
  background: burlywood;
}

.scene{
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}
